<section class="bg-black h-screen w-full text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col ">
        <header class="">
            <h2 class="text-black pt-28 text-[40px] font-medium">Model S</h2>
            <p class="text-black text-sm underline underline-offset-2">Programe una consulta virtual</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex mx-auto gap-x-6">
                <a class="border-[3px] border-gray-600 bg-gray-600 text-white text-sm font-medium px-12 py-2 rounded hover:text-white transition-colors hover:bg-black inline-flex justify-center items-center hover:border-black" href="#">Pedido personalizado</a>

                <a class="border-[3px] border-white text-sm font-medium px-12 py-2 rounded bg-white hover:text-white transition-colors hover:bg-black inline-flex justify-center items-center hover:border-black" href="#">Saber más</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="../../public/Model-S-homepage-desktop.avif" alt="Modelo S" class="h-full w-full object-cover object-center">
    </div>
    
</section>